* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Imagem de fundo */
    background-image: url("/organizador-leitura/images/fundo.svg");
    background-size: cover;
    background-position: top center;
}